.sw-cms-el-config-custom-product-carousel {
    &__tab-content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__tab-settings {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
