.cms-element-button-container {
    display: flex;
    width: 100%;

    &.cms-element-button-align-left {
        justify-content: flex-start;
    }

    &.cms-element-button-align-center {
        justify-content: center;
    }

    &.cms-element-button-align-right {
        justify-content: flex-end;
    }

    .btn.cms-element-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: var(--ecw-spacing-small, var(--spacer-md, var(--bs-spacer-4, 1.5rem)));

        .icon {
            flex-shrink: 0;
        }

        &.w-100 {
            display: flex;
            width: 100%;
        }
    }
}

