.cms-element-custom-product-carousel {
    position: relative;
    max-height: var(--uct-carousel-max-height, var(--custom-product-carousel-max-height));
    
    .custom-product-carousel-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-height: inherit;
    }

    .custom-product-carousel-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding: 10px 0 20px;
        scrollbar-width: none; /* Firefox */
        width: 100%;
        max-height: inherit;

        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }

    .custom-product-card {
        flex: 0 0 calc(85% - 20px); /* 1.x elements on mobile */
        min-width: 200px;
        max-width: 320px;
        scroll-snap-align: start;
        max-height: inherit;

        @include media-breakpoint-up(sm) {
            flex: 0 0 calc(50% - 20px);
        }

        @include media-breakpoint-up(md) {
            flex: 0 0 calc(33.333% - 20px);
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 calc(25% - 20px);
        }
        
        .product-box {
            height: 100%;
            max-height: inherit;
        }
    }
}
