:root {
  /* Global Variables */
  --ecw-global-color-blue-50: #e7f0f7;
  --ecw-global-color-blue-100: #c4dced;
  --ecw-global-color-blue-200: #93bfe0;
  --ecw-global-color-blue-300: #5c9fd0;
  --ecw-global-color-blue-400: #2b6e9e;
  --ecw-global-color-blue-500: #0a4067;
  --ecw-global-color-blue-600: #083454;
  --ecw-global-color-blue-700: #062841;
  --ecw-global-color-blue-800: #041c2e;
  --ecw-global-color-blue-900: #020e17;
  --ecw-global-color-light-50: #fcfdff;
  --ecw-global-color-light-100: #f9fbfe;
  --ecw-global-color-light-200: #f5f8fe;
  --ecw-global-color-light-300: #f2f6fe;
  --ecw-global-color-light-400: #eff4fe;
  --ecw-global-color-light-500: #ecf3fe;
  --ecw-global-color-light-600: #bed3f8;
  --ecw-global-color-light-700: #88aff0;
  --ecw-global-color-light-800: #4f86df;
  --ecw-global-color-light-900: #235cb9;
  --ecw-global-color-lime-50: #fafeef;
  --ecw-global-color-lime-100: #f3fddc;
  --ecw-global-color-lime-200: #eafbc5;
  --ecw-global-color-lime-300: #e1faab;
  --ecw-global-color-lime-400: #dafa92;
  --ecw-global-color-lime-500: #d2fba4;
  --ecw-global-color-lime-600: #a8dd68;
  --ecw-global-color-lime-700: #7eba37;
  --ecw-global-color-lime-800: #559117;
  --ecw-global-color-lime-900: #2f5c07;
  --ecw-global-color-grey-50: #f0f4f8;
  --ecw-global-color-grey-100: #e1e9f0;
  --ecw-global-color-grey-200: #c3d3e2;
  --ecw-global-color-grey-300: #9cb5cc;
  --ecw-global-color-grey-400: #6f92b0;
  --ecw-global-color-grey-500: #517394;
  --ecw-global-color-grey-600: #3e5a76;
  --ecw-global-color-grey-700: #30465c;
  --ecw-global-color-grey-800: #213040;
  --ecw-global-color-grey-900: #141e29;
  --ecw-global-color-lightgreen-50: #edfcf4;
  --ecw-global-color-lightgreen-100: #d4f7e2;
  --ecw-global-color-lightgreen-200: #aaf0c8;
  --ecw-global-color-lightgreen-300: #71e3a6;
  --ecw-global-color-lightgreen-400: #32d180;
  --ecw-global-color-lightgreen-500: #10b968;
  --ecw-global-color-lightgreen-600: #069651;
  --ecw-global-color-lightgreen-700: #087642;
  --ecw-global-color-lightgreen-800: #0a5d37;
  --ecw-global-color-lightgreen-900: #0b4d2f;
  --ecw-global-color-green-50: #edf8f3;
  --ecw-global-color-green-100: #d4f0e2;
  --ecw-global-color-green-200: #a8dfc4;
  --ecw-global-color-green-300: #73c8a1;
  --ecw-global-color-green-400: #42ab7e;
  --ecw-global-color-green-500: #1f8f61;
  --ecw-global-color-green-600: #13734c;
  --ecw-global-color-green-700: #105c3e;
  --ecw-global-color-green-800: #0f4a33;
  --ecw-global-color-green-900: #0d3d2a;
  --ecw-global-color-brown-50: #faf6f3;
  --ecw-global-color-brown-100: #f3eae3;
  --ecw-global-color-brown-200: #e4d3c4;
  --ecw-global-color-brown-300: #cfb59f;
  --ecw-global-color-brown-400: #b59377;
  --ecw-global-color-brown-500: #967355;
  --ecw-global-color-brown-600: #7a5a41;
  --ecw-global-color-brown-700: #624633;
  --ecw-global-color-brown-800: #4f382b;
  --ecw-global-color-brown-900: #3e2b21;
  --ecw-global-color-lightblue-50: #f0f7ff;
  --ecw-global-color-lightblue-100: #e0effe;
  --ecw-global-color-lightblue-200: #b9ddfe;
  --ecw-global-color-lightblue-300: #7cc2fd;
  --ecw-global-color-lightblue-400: #36a2fa;
  --ecw-global-color-lightblue-500: #0d84ea;
  --ecw-global-color-lightblue-600: #0267c7;
  --ecw-global-color-lightblue-700: #0352a1;
  --ecw-global-color-lightblue-800: #074684;
  --ecw-global-color-lightblue-900: #0c3b6d;
  --ecw-global-color-aqua-50: #ecfeff;
  --ecw-global-color-aqua-100: #cffafe;
  --ecw-global-color-aqua-200: #a5f3fc;
  --ecw-global-color-aqua-300: #67e8f9;
  --ecw-global-color-aqua-400: #22d3ee;
  --ecw-global-color-aqua-500: #06b6d4;
  --ecw-global-color-aqua-600: #0891b2;
  --ecw-global-color-aqua-700: #0e7490;
  --ecw-global-color-aqua-800: #155e75;
  --ecw-global-color-aqua-900: #164e63;
  --ecw-global-color-ocean-50: #edf6fc;
  --ecw-global-color-ocean-100: #d6eaf6;
  --ecw-global-color-ocean-200: #add5ec;
  --ecw-global-color-ocean-300: #76b7dd;
  --ecw-global-color-ocean-400: #3d92c7;
  --ecw-global-color-ocean-500: #1b74ab;
  --ecw-global-color-ocean-600: #0f5a8a;
  --ecw-global-color-ocean-700: #0a4067;
  --ecw-global-color-ocean-800: #0a3352;
  --ecw-global-color-ocean-900: #08263d;
  --ecw-global-color-red-50: #fef2f2;
  --ecw-global-color-red-100: #fee2e2;
  --ecw-global-color-red-200: #fecaca;
  --ecw-global-color-red-300: #fca5a5;
  --ecw-global-color-red-400: #f87171;
  --ecw-global-color-red-500: #ef4444;
  --ecw-global-color-red-600: #dc2626;
  --ecw-global-color-red-700: #b91c1c;
  --ecw-global-color-red-800: #991b1b;
  --ecw-global-color-red-900: #7f1d1d;
  --ecw-global-color-yellow-50: #fefce8;
  --ecw-global-color-yellow-100: #fef9c3;
  --ecw-global-color-yellow-200: #fef08a;
  --ecw-global-color-yellow-300: #fde047;
  --ecw-global-color-yellow-400: #facc15;
  --ecw-global-color-yellow-500: #eab308;
  --ecw-global-color-yellow-600: #ca8a04;
  --ecw-global-color-yellow-700: #a16207;
  --ecw-global-color-yellow-800: #854d0e;
  --ecw-global-color-yellow-900: #713f12;
  --ecw-global-color-orange-50: #fff7ed;
  --ecw-global-color-orange-100: #ffedd5;
  --ecw-global-color-orange-200: #fed7aa;
  --ecw-global-color-orange-300: #fdba74;
  --ecw-global-color-orange-400: #fb923c;
  --ecw-global-color-orange-500: #f97316;
  --ecw-global-color-orange-600: #ea580c;
  --ecw-global-color-orange-700: #c2410c;
  --ecw-global-color-orange-800: #9a3412;
  --ecw-global-color-orange-900: #7c2d12;
  --ecw-global-color-purple-50: #f5f3ff;
  --ecw-global-color-purple-100: #ede9fe;
  --ecw-global-color-purple-200: #ddd6fe;
  --ecw-global-color-purple-300: #c4b5fd;
  --ecw-global-color-purple-400: #a78bfa;
  --ecw-global-color-purple-500: #8b5cf6;
  --ecw-global-color-purple-600: #7c3aed;
  --ecw-global-color-purple-700: #6d28d9;
  --ecw-global-color-purple-800: #5b21b6;
  --ecw-global-color-purple-900: #4c1d95;
  --ecw-global-color-white: #ffffff;
  --ecw-global-color-white: #ffffff;
  --ecw-global-color-black: #000000;
  --ecw-global-number-breakpoints-tailwind-xs: 360px;
  --ecw-global-number-breakpoints-tailwind-sm: 640px;
  --ecw-global-number-breakpoints-tailwind-md: 768px;
  --ecw-global-number-breakpoints-tailwind-lg: 1024px;
  --ecw-global-number-breakpoints-tailwind-xl: 1280px;
  --ecw-global-number-breakpoints-tailwind-xxl: 1536px;
  --ecw-global-number-breakpoints-bootstrap-xs: 360px;
  --ecw-global-number-breakpoints-bootstrap-sm: 576px;
  --ecw-global-number-breakpoints-bootstrap-md: 768px;
  --ecw-global-number-breakpoints-bootstrap-lg: 992px;
  --ecw-global-number-breakpoints-bootstrap-xl: 1200px;
  --ecw-global-number-breakpoints-bootstrap-xxl: 1400px;
  --ecw-global-number-spacing-xxsmall: 6px;
  --ecw-global-number-spacing-xsmall: 12px;
  --ecw-global-number-spacing-small: 24px;
  --ecw-global-number-spacing-base: 36px;
  --ecw-global-number-spacing-large: 48px;
  --ecw-global-number-spacing-xlarge: 72px;
  --ecw-global-number-spacing-xxlarge: 96px;
  --ecw-global-number-border-radius-sm: 6px;
  --ecw-global-number-border-radius-md: 12px;
  --ecw-global-number-border-radius-lg: 24px;
  --ecw-global-number-border-radius-xl: 48px;
  --ecw-global-number-border-radius-round: 50%;
  --ecw-global-number-text-sm: 13px;
  --ecw-global-number-text-base: 16px;
  --ecw-global-number-text-xl: 16px;
  --ecw-global-number-text-2xl: 18px;
  --ecw-global-number-text-3xl: 21px;
  --ecw-global-number-text-4xl: 24px;
  --ecw-global-number-text-5xl: 28px;
  --ecw-global-number-text-6xl: 39px;
  --ecw-global-number-text-xxlarge: 96px;
  --ecw-global-number-font-weight-regular: 400;
  --ecw-global-number-font-weight-semi-bold: 700;
  --ecw-global-number-font-weight-bold: 800;
  --ecw-global-number-font-weight-xbold: 900;
  --ecw-global-number-lines: 1;
  --ecw-global-number-line-height: 1.2;
  --ecw-global-string-fonts-default: Open Sans;
  --ecw-global-string-fonts-alternate: Montserrat;
  --ecw-global-string-fonts-sans: Open Sans;
  --ecw-global-string-fonts-serif: Montserrat;
  --ecw-global-string-fonts-mono: Courier New;
  --ecw-global-string-fonts-display: Open Sans;
  --ecw-global-string-fonts-body: Open Sans;

  /* Alias Variables */
  --ecw-alias-color-primary-50: var(--ecw-global-color-blue-50);
  --ecw-alias-color-primary-100: var(--ecw-global-color-blue-100);
  --ecw-alias-color-primary-200: var(--ecw-global-color-blue-200);
  --ecw-alias-color-primary-300: var(--ecw-global-color-blue-300);
  --ecw-alias-color-primary-400: var(--ecw-global-color-blue-400);
  --ecw-alias-color-primary-500: var(--ecw-global-color-blue-500);
  --ecw-alias-color-primary-600: var(--ecw-global-color-blue-600);
  --ecw-alias-color-primary-700: var(--ecw-global-color-blue-700);
  --ecw-alias-color-primary-800: var(--ecw-global-color-blue-800);
  --ecw-alias-color-primary-900: var(--ecw-global-color-blue-900);
  --ecw-alias-color-secondary-50: var(--ecw-global-color-light-50);
  --ecw-alias-color-secondary-100: var(--ecw-global-color-light-100);
  --ecw-alias-color-secondary-200: var(--ecw-global-color-light-200);
  --ecw-alias-color-secondary-300: var(--ecw-global-color-light-300);
  --ecw-alias-color-secondary-400: var(--ecw-global-color-light-400);
  --ecw-alias-color-secondary-500: var(--ecw-global-color-light-500);
  --ecw-alias-color-secondary-600: var(--ecw-global-color-light-600);
  --ecw-alias-color-secondary-700: var(--ecw-global-color-light-700);
  --ecw-alias-color-secondary-800: var(--ecw-global-color-light-800);
  --ecw-alias-color-secondary-900: var(--ecw-global-color-light-900);
  --ecw-alias-color-tertiary-50: var(--ecw-global-color-lime-50);
  --ecw-alias-color-tertiary-100: var(--ecw-global-color-lime-100);
  --ecw-alias-color-tertiary-200: var(--ecw-global-color-lime-200);
  --ecw-alias-color-tertiary-300: var(--ecw-global-color-lime-300);
  --ecw-alias-color-tertiary-400: var(--ecw-global-color-lime-400);
  --ecw-alias-color-tertiary-500: var(--ecw-global-color-lime-500);
  --ecw-alias-color-tertiary-600: var(--ecw-global-color-lime-600);
  --ecw-alias-color-tertiary-700: var(--ecw-global-color-lime-700);
  --ecw-alias-color-tertiary-800: var(--ecw-global-color-lime-800);
  --ecw-alias-color-tertiary-900: var(--ecw-global-color-lime-900);
  --ecw-alias-color-neutrals-50: var(--ecw-global-color-grey-50);
  --ecw-alias-color-neutrals-100: var(--ecw-global-color-grey-100);
  --ecw-alias-color-neutrals-200: var(--ecw-global-color-grey-200);
  --ecw-alias-color-neutrals-300: var(--ecw-global-color-grey-300);
  --ecw-alias-color-neutrals-400: var(--ecw-global-color-grey-400);
  --ecw-alias-color-neutrals-500: var(--ecw-global-color-grey-500);
  --ecw-alias-color-neutrals-600: var(--ecw-global-color-grey-600);
  --ecw-alias-color-neutrals-700: var(--ecw-global-color-grey-700);
  --ecw-alias-color-neutrals-800: var(--ecw-global-color-grey-800);
  --ecw-alias-color-neutrals-900: var(--ecw-global-color-grey-900);
  --ecw-alias-color-text-normal: var(--ecw-global-color-grey-900);
  --ecw-alias-color-text-inverse: var(--ecw-global-color-white);
  --ecw-alias-color-text-meta: var(--ecw-global-color-grey-300);
  --ecw-alias-color-text-disabled: var(--ecw-global-color-grey-200);
  --ecw-alias-color-alert-info-text: var(--ecw-global-color-blue-500);
  --ecw-alias-color-alert-info-background: var(--ecw-global-color-blue-100);
  --ecw-alias-color-alert-success-text: var(--ecw-global-color-green-500);
  --ecw-alias-color-alert-success-background: var(--ecw-global-color-green-100);
  --ecw-alias-color-alert-warning-text: var(--ecw-global-color-yellow-500);
  --ecw-alias-color-alert-warning-background: var(--ecw-global-color-yellow-100);
  --ecw-alias-color-alert-error-text: var(--ecw-global-color-red-500);
  --ecw-alias-color-alert-error-background: var(--ecw-global-color-red-100);
  --ecw-alias-color-black: var(--ecw-global-color-grey-900);
  --ecw-alias-color-white: var(--ecw-global-color-white);
  --ecw-alias-color-border: var(--ecw-global-color-grey-300);
  --ecw-alias-color-shadow: var(--ecw-global-color-grey-200);
  --ecw-alias-color-rating: var(--ecw-global-color-yellow-500);
  --ecw-alias-number-breakpoints-tailwind-xs: var(--ecw-global-number-breakpoints-tailwind-xs);
  --ecw-alias-number-breakpoints-tailwind-sm: var(--ecw-global-number-breakpoints-tailwind-sm);
  --ecw-alias-number-breakpoints-tailwind-md: var(--ecw-global-number-breakpoints-tailwind-md);
  --ecw-alias-number-breakpoints-tailwind-lg: var(--ecw-global-number-breakpoints-tailwind-lg);
  --ecw-alias-number-breakpoints-tailwind-xl: var(--ecw-global-number-breakpoints-tailwind-xl);
  --ecw-alias-number-breakpoints-tailwind-xxl: var(--ecw-global-number-breakpoints-tailwind-xxl);
  --ecw-alias-number-breakpoints-bootstrap-xs: var(--ecw-global-number-breakpoints-bootstrap-xs);
  --ecw-alias-number-breakpoints-bootstrap-sm: var(--ecw-global-number-breakpoints-bootstrap-sm);
  --ecw-alias-number-breakpoints-bootstrap-md: var(--ecw-global-number-breakpoints-bootstrap-md);
  --ecw-alias-number-breakpoints-bootstrap-lg: var(--ecw-global-number-breakpoints-bootstrap-lg);
  --ecw-alias-number-breakpoints-bootstrap-xl: var(--ecw-global-number-breakpoints-bootstrap-xl);
  --ecw-alias-number-breakpoints-bootstrap-xxl: var(--ecw-global-number-breakpoints-bootstrap-xxl);
  --ecw-alias-number-border-radius-sm: var(--ecw-global-number-border-radius-sm);
  --ecw-alias-number-border-radius-md: var(--ecw-global-number-border-radius-md);
  --ecw-alias-number-border-radius-lg: var(--ecw-global-number-border-radius-lg);
  --ecw-alias-number-border-radius-xl: var(--ecw-global-number-border-radius-xl);
  --ecw-alias-number-border-radius-round: var(--ecw-global-number-border-radius-round);
  --ecw-alias-number-spacing-xxsmall: var(--ecw-global-number-spacing-xxsmall);
  --ecw-alias-number-spacing-xsmall: var(--ecw-global-number-spacing-xsmall);
  --ecw-alias-number-spacing-small: var(--ecw-global-number-spacing-small);
  --ecw-alias-number-spacing-base: var(--ecw-global-number-spacing-base);
  --ecw-alias-number-spacing-large: var(--ecw-global-number-spacing-large);
  --ecw-alias-number-spacing-xlarge: var(--ecw-global-number-spacing-xlarge);
  --ecw-alias-number-spacing-xxlarge: var(--ecw-global-number-spacing-xxlarge);
  --ecw-alias-number-text-sm: var(--ecw-global-number-text-sm);
  --ecw-alias-number-text-base: var(--ecw-global-number-text-base);
  --ecw-alias-number-text-xl: var(--ecw-global-number-text-xl);
  --ecw-alias-number-text-2xl: var(--ecw-global-number-text-2xl);
  --ecw-alias-number-text-3xl: var(--ecw-global-number-text-3xl);
  --ecw-alias-number-text-4xl: var(--ecw-global-number-text-4xl);
  --ecw-alias-number-text-5xl: var(--ecw-global-number-text-5xl);
  --ecw-alias-number-text-6xl: var(--ecw-global-number-text-6xl);
  --ecw-alias-number-text-xxlarge: var(--ecw-global-number-text-xxlarge);
  --ecw-alias-number-font-weight-regular: var(--ecw-global-number-font-weight-regular);
  --ecw-alias-number-font-weight-semi-bold: var(--ecw-global-number-font-weight-semi-bold);
  --ecw-alias-number-font-weight-bold: var(--ecw-global-number-font-weight-bold);
  --ecw-alias-number-lines: var(--ecw-global-number-lines);
  --ecw-alias-number-line-height: var(--ecw-global-number-line-height);
  --ecw-alias-string-fonts-default: var(--ecw-global-string-fonts-default);
  --ecw-alias-string-fonts-alternate: var(--ecw-global-string-fonts-alternate);
  --ecw-alias-string-fonts-sans: var(--ecw-global-string-fonts-sans);
  --ecw-alias-string-fonts-serif: var(--ecw-global-string-fonts-serif);
  --ecw-alias-string-fonts-mono: var(--ecw-global-string-fonts-mono);
  --ecw-alias-string-fonts-display: var(--ecw-global-string-fonts-display);
  --ecw-alias-string-fonts-body: var(--ecw-global-string-fonts-body);

  /* Mapped Variables */
  --ecw-mapped-color-border-base: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-border-select: var(--ecw-alias-color-secondary-300);
  --ecw-mapped-color-text-meta: var(--ecw-alias-color-neutrals-500);
  --ecw-mapped-color-text-link: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-text-linkhover: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-text-normal: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-input-border: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-input-text: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-input-active: var(--ecw-alias-color-secondary-300);
  --ecw-mapped-color-input-focus: var(--ecw-alias-color-secondary-300);
  --ecw-mapped-color-input-background: var(--ecw-alias-color-white);
  --ecw-mapped-color-textcolor: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-alert-warning: var(--ecw-alias-color-alert-warning-text);
  --ecw-mapped-color-alert-error: var(--ecw-alias-color-alert-error-text);
  --ecw-mapped-color-alert-success: var(--ecw-alias-color-alert-success-text);
  --ecw-mapped-color-alert-info: var(--ecw-alias-color-alert-info-text);
  --ecw-mapped-color-footer-back: var(--ecw-alias-color-primary-200);
  --ecw-mapped-color-footer-border: var(--ecw-alias-color-primary-200);
  --ecw-mapped-color-footer-text: var(--ecw-alias-color-primary-800);
  --ecw-mapped-color-footer-top-back: var(--ecw-alias-color-primary-50);
  --ecw-mapped-color-footer-lighttext: var(--ecw-alias-color-white);
  --ecw-mapped-color-header-back: var(--ecw-alias-color-white);
  --ecw-mapped-color-header-colored-back: var(--ecw-alias-color-primary-200);
  --ecw-mapped-color-header-border: var(--ecw-alias-color-primary-200);
  --ecw-mapped-color-header-textcolor: var(--ecw-alias-color-primary-800);
  --ecw-mapped-color-header-lighttext: var(--ecw-alias-color-white);
  --ecw-mapped-color-header-hover: var(--ecw-alias-color-primary-600);
  --ecw-mapped-color-header-icon-color: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-header-icon-hover: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-header-category-back: var(--ecw-alias-color-neutrals-50);
  --ecw-mapped-color-header-category-text: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-header-subcategory-text: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-header-subcategory-hover: var(--ecw-alias-color-secondary-800);
  --ecw-mapped-color-header-subsubcategory-text: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-header-subsubcategory-hover: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-disabled-text: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-disabled-border: var(--ecw-alias-color-neutrals-100);
  --ecw-mapped-color-disabled-bright-back: var(--ecw-alias-color-neutrals-50);
  --ecw-mapped-color-table-header_back: var(--ecw-alias-color-neutrals-50);
  --ecw-mapped-color-table-text: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-table-back: var(--ecw-alias-color-white);
  --ecw-mapped-color-table-back_odd: var(--ecw-alias-color-white);
  --ecw-mapped-color-table-back_even: var(--ecw-alias-color-secondary-50);
  
  --ecw-mapped-color-button-primary-back: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-button-primary-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-button-primary-hover: var(--ecw-alias-color-tertiary-700);
  --ecw-mapped-color-button-primary-border: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-button-primary-borderhover: var(--ecw-alias-color-tertiary-700);
  --ecw-mapped-color-button-primary-lighttext: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-button-secondary-back: var(--ecw-alias-color-white);
  --ecw-mapped-color-button-secondary-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-button-secondary-hover: var(--ecw-alias-color-neutrals-50);
  --ecw-mapped-color-button-secondary-border: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-button-secondary-borderhover: var(--ecw-alias-color-tertiary-700);
  --ecw-mapped-color-button-secondary-lighttext: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-button-navigation-disabled: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-button-navigation-active: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-button-navigation-hover: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-button-navigation-lighttext: var(--ecw-alias-color-white);
  --ecw-mapped-color-button-navigation-back: var(--ecw-alias-color-secondary-200);
  --ecw-mapped-color-button-navigation-text: var(--ecw-alias-color-secondary-700);
  
  --ecw-mapped-color-button-disabled-back: var(--ecw-alias-color-neutrals-300);
  --ecw-mapped-color-button-disabled-textprimary: var(--ecw-alias-color-white);
  --ecw-mapped-color-button-disabled-border: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-button-disabled-textsecondary: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-button-disabled-bright-back: var(--ecw-alias-color-neutrals-50);
  
  --ecw-mapped-color-button-banner-primary: var(--ecw-alias-color-primary-500);
  --ecw-mapped-color-button-banner-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-button-banner-textlight: var(--ecw-alias-color-white);
  --ecw-mapped-color-button-banner-secondary: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-button-banner-tertiary: var(--ecw-alias-color-tertiary-500);
  
  --ecw-mapped-color-pill-primary-back: var(--ecw-alias-color-primary-500);
  --ecw-mapped-color-pill-primary-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-pill-primary-lighttext: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-pill-secondary-back: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-pill-secondary-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-pill-secondary-lighttext: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-pill-tertiary-back: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-pill-tertiary-text: var(--ecw-alias-color-black);
  --ecw-mapped-color-pill-tertiary-lighttext: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-media-border-color: var(--ecw-alias-color-neutrals-200);
  --ecw-mapped-color-media-border-hover: var(--ecw-alias-color-secondary-300);
  --ecw-mapped-color-media-border-active: var(--ecw-alias-color-neutrals-700);
  
  --ecw-mapped-color-stock-instock: var(--ecw-alias-color-alert-success-text);
  --ecw-mapped-color-stock-lowstock: var(--ecw-alias-color-alert-warning-text);
  --ecw-mapped-color-stock-nostock: var(--ecw-alias-color-alert-error-text);
  
  --ecw-mapped-color-rating-active: var(--ecw-alias-color-alert-warning-text);
  --ecw-mapped-color-rating-inactive: var(--ecw-alias-color-neutrals-200);
  
  --ecw-mapped-color-background-body: var(--ecw-alias-color-white);
  --ecw-mapped-color-background-container: var(--ecw-alias-color-white);
  --ecw-mapped-color-tabs-back: var(--ecw-alias-color-secondary-100);
  --ecw-mapped-color-tabs-active: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-tabs-text: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-tabs-active-text: var(--ecw-alias-color-white);
  
  --ecw-mapped-color-cta-lighttext: var(--ecw-alias-color-white);
  --ecw-mapped-color-cta-primarycolor: var(--ecw-alias-color-primary-500);
  --ecw-mapped-color-cta-secondarycolor: var(--ecw-alias-color-secondary-500);
  --ecw-mapped-color-cta-textcolor: var(--ecw-alias-color-neutrals-700);
  
  --ecw-mapped-color-quote-normaltext: var(--ecw-alias-color-neutrals-700);
  --ecw-mapped-color-quote-primarytext: var(--ecw-alias-color-primary-700);
  --ecw-mapped-color-quote-secondarytext: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-quote-primaryback: var(--ecw-alias-color-primary-300);
  --ecw-mapped-color-quote-secondaryback: var(--ecw-alias-color-secondary-300);

  /** Start: Added color variables for CMS elements **/
  --ecw-mapped-color-iconlist-icon: var(--ecw-alias-color-tertiary-500);
  --ecw-mapped-color-text-header: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-slider-dot-color: var(--ecw-alias-color-secondary-400);
  --ecw-mapped-color-slider-dot-active: var(--ecw-alias-color-secondary-700);
  --ecw-mapped-color-slider-dot-hover: var(--ecw-alias-color-secondary-700);
  /** End: Added color variables for CMS elements **/

  --ecw-mapped-color-alerts-success-border: var(--ecw-alias-color-alert-success-text);
  --ecw-mapped-color-alerts-success-background: var(--ecw-alias-color-alert-success-background);
  --ecw-mapped-color-alerts-success-text: var(--ecw-alias-color-alert-success-text);
  --ecw-mapped-color-alerts-warning-border: var(--ecw-alias-color-alert-warning-text);
  --ecw-mapped-color-alerts-warning-background: var(--ecw-alias-color-alert-warning-background);
  --ecw-mapped-color-alerts-warning-text: var(--ecw-alias-color-alert-warning-text);
  --ecw-mapped-color-alerts-error-border: var(--ecw-alias-color-alert-error-text);
  --ecw-mapped-color-alerts-error-background: var(--ecw-alias-color-alert-error-background);
  --ecw-mapped-color-alerts-error-text: var(--ecw-alias-color-alert-error-text);
  --ecw-mapped-color-alerts-info-border: var(--ecw-alias-color-alert-info-text);
  --ecw-mapped-color-alerts-info-background: var(--ecw-alias-color-alert-info-background);
  --ecw-mapped-color-alerts-info-text: var(--ecw-alias-color-alert-info-text);
  --ecw-mapped-number-breakpoints-tailwind-xs: var(--ecw-alias-number-breakpoints-tailwind-xs);
  --ecw-mapped-number-breakpoints-tailwind-sm: var(--ecw-alias-number-breakpoints-tailwind-sm);
  --ecw-mapped-number-breakpoints-tailwind-md: var(--ecw-alias-number-breakpoints-tailwind-md);
  --ecw-mapped-number-breakpoints-tailwind-lg: var(--ecw-alias-number-breakpoints-tailwind-lg);
  --ecw-mapped-number-breakpoints-tailwind-xl: var(--ecw-alias-number-breakpoints-tailwind-xl);
  --ecw-mapped-number-breakpoints-tailwind-xxl: var(--ecw-alias-number-breakpoints-tailwind-xxl);
  --ecw-mapped-number-breakpoints-bootstrap-xs: var(--ecw-alias-number-breakpoints-bootstrap-xs);
  --ecw-mapped-number-breakpoints-bootstrap-sm: var(--ecw-alias-number-breakpoints-bootstrap-sm);
  --ecw-mapped-number-breakpoints-bootstrap-md: var(--ecw-alias-number-breakpoints-bootstrap-md);
  --ecw-mapped-number-breakpoints-bootstrap-lg: var(--ecw-alias-number-breakpoints-bootstrap-lg);
  --ecw-mapped-number-breakpoints-bootstrap-xl: var(--ecw-alias-number-breakpoints-bootstrap-xl);
  --ecw-mapped-number-breakpoints-bootstrap-xxl: var(--ecw-alias-number-breakpoints-bootstrap-xxl);
  --ecw-mapped-number-border-radius-sm: var(--ecw-alias-number-border-radius-sm);
  --ecw-mapped-number-border-radius-md: var(--ecw-alias-number-border-radius-md);
  --ecw-mapped-number-border-radius-lg: var(--ecw-alias-number-border-radius-lg);
  --ecw-mapped-number-border-radius-xl: var(--ecw-alias-number-border-radius-xl);
  --ecw-mapped-number-border-radius-round: var(--ecw-alias-number-border-radius-round);
  --ecw-mapped-number-spacing-xxsmall: var(--ecw-alias-number-spacing-xxsmall);
  --ecw-mapped-number-spacing-xsmall: var(--ecw-alias-number-spacing-xsmall);
  --ecw-mapped-number-spacing-small: var(--ecw-alias-number-spacing-small);
  --ecw-mapped-number-spacing-base: var(--ecw-alias-number-spacing-base);
  --ecw-mapped-number-spacing-large: var(--ecw-alias-number-spacing-large);
  --ecw-mapped-number-spacing-xlarge: var(--ecw-alias-number-spacing-xlarge);
  --ecw-mapped-number-spacing-xxlarge: var(--ecw-alias-number-spacing-xxlarge);
  --ecw-mapped-number-font-size-desktop-heading0: var(--ecw-alias-number-text-xxlarge);
  --ecw-mapped-number-font-size-desktop-heading1: var(--ecw-alias-number-text-6xl);
  --ecw-mapped-number-font-size-desktop-heading2: var(--ecw-alias-number-text-5xl);
  --ecw-mapped-number-font-size-desktop-heading3: var(--ecw-alias-number-text-4xl);
  --ecw-mapped-number-font-size-desktop-heading4: var(--ecw-alias-number-text-3xl);
  --ecw-mapped-number-font-size-desktop-heading5: var(--ecw-alias-number-text-2xl);
  --ecw-mapped-number-font-size-desktop-heading6: var(--ecw-alias-number-text-xl);
  --ecw-mapped-number-font-size-desktop-normal: var(--ecw-alias-number-text-base);
  --ecw-mapped-number-font-size-desktop-small: var(--ecw-alias-number-text-sm);
  --ecw-mapped-number-font-size-mobile-heading0: var(--ecw-alias-number-text-6xl);
  --ecw-mapped-number-font-size-mobile-heading1: var(--ecw-alias-number-text-5xl);
  --ecw-mapped-number-font-size-mobile-heading2: var(--ecw-alias-number-text-4xl);
  --ecw-mapped-number-font-size-mobile-heading3: var(--ecw-alias-number-text-3xl);
  --ecw-mapped-number-font-size-mobile-heading4: var(--ecw-alias-number-text-2xl);
  --ecw-mapped-number-font-size-mobile-heading5: var(--ecw-alias-number-text-xl);
  --ecw-mapped-number-font-size-mobile-heading6: var(--ecw-alias-number-text-base);
  --ecw-mapped-number-font-size-mobile-normal: var(--ecw-alias-number-text-base);
  --ecw-mapped-number-font-size-mobile-small: var(--ecw-alias-number-text-sm);
  --ecw-mapped-number-font-weight-regular: var(--ecw-alias-number-font-weight-regular);
  --ecw-mapped-number-font-weight-semi-bold: var(--ecw-alias-number-font-weight-semi-bold);
  --ecw-mapped-number-font-weight-bold: var(--ecw-alias-number-font-weight-bold);
  --ecw-mapped-number-lines: var(--ecw-alias-number-lines);
  --ecw-mapped-number-line-height: var(--ecw-alias-number-line-height);
  --ecw-mapped-string-fonts-default: var(--ecw-alias-string-fonts-default);
  --ecw-mapped-string-fonts-alternate: var(--ecw-alias-string-fonts-alternate);
  --ecw-mapped-string-fonts-sans: var(--ecw-alias-string-fonts-sans);
  --ecw-mapped-string-fonts-serif: var(--ecw-alias-string-fonts-serif);
  --ecw-mapped-string-fonts-mono: var(--ecw-alias-string-fonts-mono);
  --ecw-mapped-string-fonts-display: var(--ecw-alias-string-fonts-display);
  --ecw-mapped-string-fonts-body: var(--ecw-alias-string-fonts-body);
}
