.sw-cms-preview-magazine-quote {
    padding: 15px;

    .sw-cms-preview-magazine-quote__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #f0f2f5;
        border: 1px dashed #d1d9e0;
        border-radius: 4px;
        min-height: 80px;
        color: #52667a;
    }

    sw-icon {
        margin-bottom: 5px;
    }

    .sw-cms-preview-magazine-quote__label {
        font-size: 12px;
        font-weight: 600;
    }
}
