.sw-cms-el-preview-custom-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 80px;

    .sw-cms-el-preview-custom-carousel__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid #d1d9e0;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        color: #758ca3;

        sw-icon {
            margin-bottom: 8px;
        }

        span {
            font-size: 12px;
            font-weight: 600;
        }
    }
}
