.sw-cms-preview-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #f9fafb;
    width: 100%;
    min-height: 60px;

    &__btn {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding: 6px 16px;
        background-color: #189eff;
        color: #ffffff;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
    }
}
